/*estilo de main de contacto*/
main{
    .contenedorTres{
        a{
            img{
                width: 8%;
            }
        }
    }
    ul{
        text-align: center;
        list-style: none;
    }
    .contenedorCuatro{
        a{
            img{
                width: 10%;
            }
        }
    }
}